/************** Setup **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  /* width: 1440px;
  height: 1024px; */
  height: 100vh;
  background: var(--Very-Light-Gray, #f5f6fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 50.69%;
  min-width: 600px;
  max-width: 730px;
}

/*
* comment styles
*/

.comment-main-container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  background: var(--White, #fff);
  margin-bottom: 20px;
}

.no-margin {
  margin: 0;
}

/*
* score styles within comment
*/

.score-container {
  width: 40px;
  height: 100px;
  border-radius: 10px;
  background: var(--Very-Light-Gray, #f5f6fa);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.score-number {
  width: 30px;
  color: var(--Moderate-Blue, #5357b6);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-plus {
  width: 10px;
  height: 10px;
  background: url("../images/icon-plus.svg") center / cover;
  margin-bottom: -10px;
}

.icon-minus {
  width: 10px;
  height: 2.5px;
  background: url("../images/icon-minus.svg") center / cover;
  margin-top: -10px;
}

.icon-plus:hover {
  background: url("../images/icon-plus-hover.svg") center / cover;
  cursor: url("../images/icon-pointer.svg"), pointer;
}

.icon-minus:hover {
  background: url("../images/icon-minus-hover.svg") center / cover;
  cursor: url("../images/icon-pointer.svg"), pointer;
}

.comment-main-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 24px;
}

/*
* comment related infomation (top part) styles within comment
*/

.comment-top-container {
  display: flex;
  justify-content: space-between;
}

.comment-user-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.info-image {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.info-username {
  color: var(--Dark-Blue, #334253);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info-createdAt {
  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.info-currentUser {
  width: 36px;
  height: 19px;
  border-radius: 2px;
  background: var(--Moderate-Blue, #5357b6);

  color: var(--White, #fff);
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: -8px;
}

.comment-reply,
.comment-delete,
.comment-edit {
  display: flex;
  justify-content: end;
  align-items: center;
}

.comment-reply:hover,
.comment-delete:hover,
.comment-edit:hover {
  opacity: 0.5;
  cursor: url("../images/icon-pointer.svg"), pointer;
}

.text-reply,
.text-delete,
.text-edit {
  margin-left: 8px;
  color: var(--Moderate-Blue, #5357b6);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.delete-edit-container {
  display: flex;
  gap: 24px;
}

/*
* comment content styles within comment
*/

.comment-content {
  flex: 1;
  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.comment-content .input-box {
  margin: 0;
}

.editing {
  border-radius: 8px;
  border: 1px solid var(--Moderate-Blue, #5357b6);
  background: var(--White, #fff);
  padding: 12px 24px 0;
}

.editing:hover {
  border: 2.5px solid var(--Moderate-Blue, #5357b6);
}

.reply-content[contenteditable="true"] {
  outline: none;
}

/*
* reply comment styles
*/

.reply-container {
  display: flex;
  justify-content: end;
}

.reply-comments-main-container {
  width: 88%;
}

.reply-container .comment-main-container:not(:last-child) {
  margin-bottom: 24px;
}

.reply-container .reply-comments-main-container .no-margin {
  margin: 0;
}

.reply-to {
  color: var(--Moderate-Blue, #5357b6);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.reply-line-icon {
  width: 2px;
  background: var(--Light-Gray, #e9ebf0);
  margin-right: 43px;
  margin-bottom: 30px;
}

/*
* input styles
*/

.input-container {
  height: 144px;
  border-radius: 8px;
  background: var(--White, #fff);
  display: flex;
  justify-content: space-between;
}

.is-reply {
  margin: 8px 0 20px 0;
}

.input-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 28px 16px 0 24px;
}

.input-box {
  flex: 1;
  height: 96px;
  border-radius: 8px;
  border: 1px solid var(--Light-Gray, #e9ebf0);
  background: var(--White, #fff);
  resize: none;

  color: var(--Dark-Blue, #334253);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  margin-top: 24px;
  padding: 12px 24px 0;
}

.input-box:hover {
  border: 1px solid var(--Moderate-Blue, #5357b6);
  cursor: url("../images/icon-pointer.svg"), pointer;
}

.input-button {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  background: var(--Moderate-Blue, #5357b6);
  border: none;
  margin: 24px 24px 0 16px;

  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.input-button:hover {
  opacity: 0.5;
  cursor: url("../images/icon-pointer.svg"), pointer;
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
