/************** Setup **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  width: 1440px;
  height: 1024px;
  padding: 64px 355px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Very-Light-Gray, #f5f6fa);
}

/************** General layout **************/

#box-1,
#box-2,
#box-4 {
  width: 730px;
  height: 167px;
  border-radius: 8px;
  background: var(--White, #fff);
  margin-bottom: 20px;
  display: flex;
}

#box-3 {
  width: 730px;
  height: 358px;
  /* background: lightgreen; */
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

#box-4 {
  height: 144px;
  margin-bottom: 0;
  padding-top: 24px;
}

/************** box-3 inner layout **************/

#line {
  width: 2px;
  height: 348px;
  background: var(--Light-Gray, #e9ebf0);
  /* background: red; */
  margin-right: 43px;
}

#line-right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-box {
  width: 642px;
  height: 167px;
  border-radius: 8px;
  background: var(--White, #fff);
  /* background-color: lightpink; */
  display: flex;
}

/************** box-4 inner layout **************/
#box-4 img {
  margin: 4px 16px 0 24px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#box-4 textarea {
  width: 506px;
  height: 96px;
  margin-right: 16px;
  padding: 12px 0 0 24px;

  border-radius: 8px;
  border: 1px solid var(--Light-Gray, #e9ebf0);
  background: var(--White, #fff);
  resize: none;

  /* color: var(--Grayish-Blue, #67727e); */
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#box-4 button {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  background: var(--Moderate-Blue, #5357b6);
  border: 0;

  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M Bold) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

/************** Common comment box styles **************/

.num {
  /* background-color: lightblue; */
  width: 40px;
  height: 100px;
  margin: 24px 24px 0 24px;
  border-radius: 10px;
  background: var(--Very-Light-Gray, #f5f6fa);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.num span {
  width: 30px;
  color: var(--Moderate-Blue, #5357b6);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

/************** username timestamp and so on **************/

.content-top {
  /* background-color: lightgoldenrodyellow; */
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.info {
  /* background-color: red; */
  display: flex;
  gap: 16px;
}

.info img {
  margin-top: 24px;
}

.image {
  width: 32px;
  height: 32px;
  /* background-color: aquamarine; */
  border-radius: 32px;
  /* background: url(images/avatars/image-amyrobson.png) 50% / cover no-repeat,
    lightgray 50% / cover no-repeat; */
}

.username {
  height: 19px;
  /* background-color: lightseagreen; */
  margin-top: 30px;

  color: var(--Dark-Blue, #334253);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (M) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.createdAt {
  height: 24px;
  /* background-color: lightcoral; */
  margin-top: 28px;

  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.reply {
  /* background-color: blue; */
  /* width: 66px; */
  height: 24px;
  margin-top: 28px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.reply img {
  margin-right: 8px;
}

.reply span {
  margin-top: -1px;

  color: var(--Moderate-Blue, #5357b6);
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M Bold) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

/************** content of comment **************/

.content-body {
  /* background-color: lightpink; */
  height: 72px;
  margin-bottom: 24px;

  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M) */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
